body {
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  height: 150vh;
}

main {
  height: 100vh;
}
/*styles for the buttoms in the game*/
#start-btn,
#continue-btn,
#start-next-round,
#view-high-score-btn,
#restart-btn,
#high-score-btn,
#back-btn,
#clear-btn,
#scroll-speed,
#initials-input,
.ok-button,
.ok-button-2 {
  font-family: "Press Start 2P", cursive;
}

